<div class="container">
    <h1 class="text-center text-danger">Ejercicio 1: Categorías y Productos</h1>
    <p class="text-danger"><strong>Tema: Ejercicio 1: Categorías y Productos</strong></p>
    <h3 class="text-danger">Práctica: 1</h3>
    <p class="text-danger"><strong>Nombre del Práctica:</strong> Ejercicio 1: Categorías y Productos</p>
    <p class="text-danger"><strong>Objetivo: <br><br></strong> El alumno:</p>
    <ul class="text-danger">
      <li>Desarrollará el BackEnd en Spring Boot para gestionar las operaciones relacionadas con Alumnos.</li>
      <li>Desarrollará el FrontEnd en Angular utilizando Bootstrap para gestionar las operaciones relacionadas con Categorías y Productos.</li>
      <li>Integrará el BackEnd – FrontEnd.</li>
    </ul>
    
    <h3 class="text-danger">Instrucciones:</h3>
    <p class="text-danger">Elaborar un Reporte en LaTeX/Word. El Reporte deberá incluir la siguiente estructura:</p>
    <table class="table table-bordered text-danger">
      <thead class="bg-danger text-white">
        <tr>
          <th>Concepto</th>
          <th>Puntos</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1. Portada</td>
          <td>Sin</td>
        </tr>
        <tr>
          <td>2. Introducción</td>
          <td>2</td>
        </tr>
        <tr>
          <td>3. Desarrollo</td>
          <td>4</td>
        </tr>
        <tr>
          <td>4. Conclusiones (Énfasis en posibles errores en la instalación).</td>
          <td>3</td>
        </tr>
        <tr>
          <td>5. Referencias Bibliográficas</td>
          <td>1</td>
        </tr>
      </tbody>
    </table>
    
    <h3 class="text-danger">Instrucciones de entrega del producto esperado:</h3>
    <ul class="text-danger">
      <li>Deberá subir su reporte a la plataforma (pdf del reporte). (No hay prorroga).</li>
      <li>Entregar URL del sitio en donde se encuentra alojado el FrontEnd para su revisión. La revisión se realizará después de la fecha de entrega. Ejemplo: <a href="https://www.netlify.com/" target="_blank">Netlify</a> (puede utilizar cualquier similar).</li>
      <li>Entregar URL del sitio en donde se encuentra alojado el BackEnd para su revisión. La revisión se realizará después de la fecha de entrega. Ejemplo: <a href="https://render.com/" target="_blank">Render</a> (puede utilizar cualquier similar).</li>
      <li>Entregar Código Fuente Completo del BackEnd y del FrontEnd.
        <ul>
          <li>Subir liga del repositorio GitHub, GitLab, Google Drive, etc., para descargar los proyectos.</li>
        </ul>
      </li>
    </ul>
</div>
  